<hr>
<p>home works!</p>
<html>
<body>

<h2 id ="demo2" style="display:none">What Can JavaScript Do?</h2>

<p id="demo">JavaScript can hide HTML elements.</p>

<button type="button" onclick="document.getElementById('demo').style.display='none'">Click Me!</button>
<button type="button" onclick="document.getElementById('demo2').style.display='block'">Click me tooooooo</button>
<button type="button" onclick="document.getElementById('demo2').style.display='block'">Click me tooooooo</button>
<button type="button" onclick="window.alert(5+6)">Click sum</button>
<br>
<button type="button" onclick="console.log(5+6)">Click sum console</button>
<button onclick="window.print()">Click print()</button>
<br>
<h2>Новая кнопка</h2>
<button onclick="this.innerHTML = Date()"  >The time is</button>
<p> {{result}}</p>
</body>
</html> 
<hr>