<div class = "container">
  <h1> Small description </h1>
  <h2> Test simple routing</h2>
  <main>
  <nav>
  <h3>Different bindings</h3>
  <a routerLink="/" routerLinkActive="active one" [routerLinkActiveOptions]="{exact: true}"> Home </a>
  <a routerLink="/about" routerLinkActive="active two" [routerLinkActiveOptions]="{exact: true}"> About </a>
  <a routerLink="/**" routerLinkActive="active three" [routerLinkActiveOptions]="{exact: true}"> Error </a>
</nav>

<div class="examples">
<router-outlet></router-outlet>
</div>
</main>
</div>
